<div class="navbar"> 
 
    <a href="http://200.145.153.172/lucasdomingues/Major/Views/Admin/welcome.php" class="linkNav"> Home </a>&nbsp;&nbsp;&nbsp;
    
    <a href="http://200.145.153.172/lucasdomingues/Major/Views/Admin/create.php" class="linkNav"> Criar </a>&nbsp;&nbsp;&nbsp;
 
    <a href="http://200.145.153.172/lucasdomingues/Major/Views/Admin/show.php" class="linkNav"> Ver </a>&nbsp;&nbsp;&nbsp;
    
    <a href="http://200.145.153.172/lucasdomingues/Major/Views/Admin/playersList.php" class="linkNav"> Jogadores </a>&nbsp;&nbsp;&nbsp;
    
    <a href="http://200.145.153.172/lucasdomingues/Major/Views/Admin/teamsList.php" class="linkNav"> Times </a>&nbsp;&nbsp;&nbsp;
    
    <b class="marker"> Admin </b> 

</div>