<div class="navbar"> 
 
    <a href="http://200.145.153.172/lucasdomingues/Major/Views/Teams/welcome.php" class="linkNav"> Home </a>&nbsp;&nbsp;&nbsp;

    <a href="http://200.145.153.172/lucasdomingues/Major/Views/Teams/create.php" class="linkNav"> Criar </a>&nbsp;&nbsp;&nbsp;
 
    <a href="http://200.145.153.172/lucasdomingues/Major/Views/Teams/show.php" class="linkNav"> Ver </a>&nbsp;&nbsp;&nbsp;
    
    <a href="http://200.145.153.172/lucasdomingues/Major/Views/Teams/login.php" class="linkNav"> Entrar </a>&nbsp;&nbsp;&nbsp;
    
    <a href="http://200.145.153.172/lucasdomingues/Major/Views/Players/welcome.php" class="linkNav"> Jogadores </a>&nbsp;&nbsp;&nbsp;
    
    <b class="marker"> Times </b>

</div>